{% extends 'mainapp/base.html' %}
{% block content %}
<h1>Жанры</h1>
<a class="btn btn-success" href="{% url 'mainapp:add_genre' %}">Добавить жанр</a>
<br>
<br>
<div class="genre-menu">
    <ul>
        {% for item in categories %}
        <li>
            <h4><a href="{% url 'mainapp:genre_section' item.pk %}">
                {{ item }}
            </a>
                <a href="{% url 'mainapp:edit_genre' item.pk %}" class="btn btn-info">
                    Редактировать
                </a>
                <a href="{% url 'mainapp:delete_genre' item.pk %}" class="btn btn-danger">
                    Удалить
                </a></h4>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}